*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variables */
:root{
--primary: #0d6ef;
--secondary: #6cf757d;
--bg: #f8f9fa;
--text: #333;
--white: #fff;
--radius: 10px;
--padding: 20px;

}
/* Bases */
body{
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
    
}
h1, h2, h3 {
    font-family: 'Roboto' , sans-serif;
}
section{
    padding: 60px 0;
}
/* container */
.container{
    width: 90%;
    margin: auto;
}
/* Navbar */
.navbar{
    background: var(--white);
    box-shadow: 0 2px 10px rgba(red, green, blue, alpha);
}
.navbar-nav .nav-link{
    color: var(--text);
    margin-left: 15px;
    transition: 0.3s;
    color: white;
}
form{
    position: relative;
    z-index: 9999;
}
button{
    background: red;
}


    
    




    
    
    
    
    

 



    
        
    
    

    


.navbar-toggler-icon{
    
    
}
.navbar-nav .nav-link :hover{
    color: var(--primary);
}
/* Bouton */
.btn{
    border-radius: 25px;
    padding: 10px 20px;
}
/* Images */
img{
    max-width: 100%;
    display: block;
    border-radius: var(--radius);
}
/* Text Aligne */
.text-center{
    text-align: center;
}
/* Espacement */
.mt-2{margin-top: 10px;}
.mt-3{margin-top: 20px;}
.mb-3{margin-bottom: 20px;}
/* HERO */
.hero{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://Images.unsplash.com/photo-1522071820081-009f0129c71c?q=80&w=2070&auto=format&fit=crop");
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}
/* TITRES */
.hero h1{
    font-size: 40px;
    font-weight: bold;
}
.hero p{
    margin: 15px 0;
}
/* BOUTONS */
.hero .btn{
    border-radius: 25px;
}
/* STATS */
.stats{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.stats div{
    text-align: center;
}
.stats h2{
    font-size: 30px;
    font-weight: bold;
    color: #ffc107;
}
/* TEXTE */
.stats p{
    margin: 0;
}
/* section */
.comment-ca-marche{
    background: var(--white);
    text-align: center;
    
    
}
/* GRID */
.bento-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 20px;
    
}
/* CARDS */
.card{
    background: #007BFF;
    padding: 20px;
    border-radius: 12px;
    font-weight: bold;
    box-sizing: border-box;
    color: #212529;
    
    

    

    
    
}
.card i{
    font-size: 30px;
    color: var(--primary);
    margin-bottom: 15px;

}
.card h3{
    margin-bottom: 10px;

}
.card p{
    font-size: 14px;
    color: var(--secondary);
    word-wrap: break-word;
    line-height: 1.4;
}
.box1{
    grid-column: 1/3;
    grid-row: 1/2;
}
.box2{
    grid-column: 3/4;
    grid-row: 1/3;
}
.box3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.box4{
    grid-column: 2/4;
    grid-row: 3/4;
}
.service-card{
    padding: 20px;
    background: white;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
    
}
.service-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background: #007BFF;
    color: white;
    transition: transform 0.3s ease;
    
    
}
.carousel-item{
    padding: 20px;
    display: flex;
    border-radius: 20px;
    border: 0;
    
}
.carousel-item img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 0 8px 20px -4px #95abbb;
    max-width: 100px;
}
.stars{
    color: gold;
}
.carousel-item h5{
    color: #007BFF;
    font-size: 21px;
    line-height: 1.3;
}
/* CTA */
.cta-section{
    background: linear-gradient(135deg, #4f46e5, #9333ea);
    color: white;
    text-align: center;
    padding: 60px 20px;
    border-radius: 20px;
    margin: 50px 0;
}
/* FOOTER */
.footer{
    background: #111827;
    color: #d1d5db;
    padding: 50px 20px;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.freelances{
    padding: 60px 20px;
    background: #007BFF;
}
.freelances h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
}

    
    


    
    
    
    
    
    
    

    
    

.freelance-card{
    border-radius: 15px;
    transition: 0.3s;
    overflow: hidden;
}
.freelance-card img{
    height: 200px;
    object-fit: cover;

}
.freelance-card .card-body{
    text-align: center;
}
.freelance-card .job{
    color: #6b7280;
    font-size: 14px;
}
.freelance-card p{
    font-size: 14px;
    color: #374151;
}
.freelance-card .btn{
    border-radius: 20px;
}
/* MOBILES */
@media(max-width: 375px){
    .freelance-container{
        grid-template-columns: 1fr;
    }
}
/* TABLETES */
@media(min-width: 768px){
    .freelance-container{
        grid-template-columns: repeat(2, 1fr);
        
    }
}
/* DESKTOP */
@media(min-width: 1200px){
    .freelance-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
.navbar{
    padding: 15px;
}
.navbar-brand{
    font-weight: bold;
}
.nav-link{
    transition: 0.3s;
}
.nav-link:hover{
    color: gold;
}
.card{
    transition: 0.3s;
}
.card{
    border-radius: 15px;
    transition: 0.3s;
}
.bento-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.box{
    background: #6c63ff;
    color: white;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
}
.error{
    color: red;
    font-size: 14px;
}
input, textarea, select{
    border-radius: 10px;
}
button{
    border-radius: 10px;
}
.contact{
    background:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("https://Images.unsplash.com/photo-1522071820081-009f0129c71c?q=80&w=2070&auto=format&fit=crop");
     height: 110vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 10px;
    text-align: center;
    align-items: flex-start;
    
    
    
    
}
.dark-mode{
    background: black;
    color: white;
}
.btn-dark .btn{
    background: gold;
    color: black;
    
}
.navbar{
    background: transparent !important;
    transition: 0.3s;
}
.navbar.scrolled{
    background-color: rgba(0,0,0,0.9);
    box-shadow: o 2px 10px rgba(0,0,0,0.3);
}
#topBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    background: black;
    color: white;
    cursor: pointer;
}

section {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}





    
    
    


    


    
    
    

    
    
    


    



    
    





    

    
    
    
    
    
    
    



    
    



    






